*{
    margin: 0;padding: 0;
   font-family: sans-serif;
   /* background-color: black; */
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
background-size: cover;
background-position: center;
}

.logo{
    font-size: 36px;
    width: 120px;
    cursor: pointer;
color: rgb(255, 122, 122);
transition: 0.5s;

}
.logo:hover{
    font-size: 37px;
    color:#fff;   
}
.logo span{
    color: #fff;
}
.logo span:hover{
    color: rgb(255, 122, 122);
}


/* .logo span:hover{
        color: #fff;
} */

.navbar{
width: 85%;
margin: auto;
padding: 11px 0;
display: flex;
align-items: flex-end;
justify-content: space-between;
color: #fff;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    /* text-decoration: none; */
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
position: relative;
}

.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 122, 122);
    position: absolute;
    transition: 0.5s;
    left: 0;
    bottom: 0;
}

.navbar ul li a:hover::after{
    width: 100%;
    
}

.cont{
    color: #fff;
    margin-top: 235px;
    /* margin-left: 40%; */
    
    display: grid;
align-items: center;
justify-content: center;
}

.cont h1{
    font-size: 34px;
    font-weight: bold;
}
.cont p{
    font-size: 20px;
}
.cont p span{
color: rgb(255, 122, 122);
}

/* --------------------About------------------------ */

.banner2{
    width: 100%;
    height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(YashwantsinghJhalaCroped.jpg);
background-size: cover;
background-position: center;
display: grid;
grid-template-columns: 750px;
}

.about-cont{
   color: #fff;
   margin-top: 200px; 
   margin-left: 35px;
   /* align-items: center; */
   
}
.about-cont h1 span{
    /* : color: rgb(255, 122, 122);; */
color: rgb(255, 122, 122);
}

/*---------------------Services----------------------*/
 
/* .cards-menu{
    margin: 17px;
    padding: 6px;
    display: grid;
    /* grid-template-rows: 25px 25px; *//*
    grid-template-columns: 250px;
    
} 


.cards{
background-color: aqua;
margin: 10px;
padding: 3px;

} */

/* -----------------------Small screen-------------------------------------- */

@media only screen and (max-width: 600px){
    
    *{
margin: 0;
padding: 0;
    }
    .logo{
        font-size: 36px;
        width: 100vh;
        margin-top: 8px;
        cursor: pointer;
        color: rgb(255, 122, 122);
    }
    .logo span{
        color: #fff;
    }
    .navbar{
        width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: flex-end;
justify-content: space-between;
/* color: #fff; */
    }
    .navbar ul{
        display: none; 
    }
    
    /*------------about------------*/

    .banner2{
        width: 100%;
        height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Yashwantforscreen.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 750px;
    }
    
    .about-cont{
       color: #fff;
       margin-top: 200px; 
       margin-left: 35px;
       /* align-items: center; */
       
    }

    .about-cont h1{
        margin-top: -160px;
    }

    .about-cont h1 span{
        /* : color: rgb(255, 122, 122);; */
    color: rgb(255, 122, 122);
    }

    .about-cont p{
        margin-top: 56px;
        margin-right: 373px;
        font-size: 24px;
    }


}